
 <nz-layout>
    <nz-header>
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item>Timer</li>
      </ul>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>Timer</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
          
<router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>footer</nz-footer>
  </nz-layout>